.botones{
    box-shadow: 3.5px 3.5px 0px rgba(0, 0, 0, 0.25);
    border: solid #0000001c;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.botones:hover{
    background-color: #fca0a046
}

.botones:active {
  transform: translateY(2px); 
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2); 
}

.botones:disabled {
  background-color: #e0e0e0; /* gris suave */
  color: rgba(0, 0, 0, 0.3);
  border: solid #0000001c;
  border-radius: 10px;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.15);
  cursor: not-allowed;
  transform: none;
  opacity: 0.7;
}
